# Django
SECRET_KEY=replace_with_secret_key
DEBUG=False
ALLOWED_HOSTS=10.2.8.139,localhost,127.0.0.1

# Frontend URL
FRONTEND_URL=http://10.2.8.139

# Database (MySQL)
DB_NAME=first_job_navigator
DB_USER=your_db_user
DB_PASSWORD=your_db_password
DB_HOST=127.0.0.1
DB_PORT=3306

# Optional External APIs
GROQ_API_KEY=
APIFY_API_TOKEN=
MAPBOX_DEV_ACCESS_TOKEN=

# Email
DEFAULT_FROM_EMAIL=noreply@firstjobnavigator.comf