asgiref==3.11.0
bcrypt==4.3.0
black==26.3.1
certifi==2026.2.25
charset-normalizer==3.4.6
click==8.3.1
colorama==0.4.6
Django==5.2.6
django-cors-headers==4.9.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
flake8==7.3.0
idna==3.11
iniconfig==2.3.0
mccabe==0.7.0
mypy_extensions==1.1.0
mysqlclient==2.2.7
packaging==26.0
pathspec==1.0.4
pillow==11.3.0
platformdirs==4.9.4
pluggy==1.6.0
pycodestyle==2.14.0
pyflakes==3.4.0
Pygments==2.20.0
PyJWT==2.12.1
pytest==8.4.2
pytest-django==4.11.1
python-dotenv==1.1.1
pytokens==0.4.1
requests==2.32.5
sqlparse==0.5.3
tzdata==2025.3
urllib3==2.6.3
drf_spectacular
beautifulsoup4
openpyxl